.sketchy {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    border: 8px solid black;
}

.square {
    box-sizing: border-box;
    border: 0.5px solid grey;
    width: 20px;
    height: 20px;
}